@import '../../../main-styles.scss';


.text-deskripsi {
font-style: italic;
color: red;
}

.task-manager-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 600px;
    transition: background-color .5s;
}

.sidebar {
    display: flex;
    flex-direction: column;

    width:  50%;
    background: white;

    padding: 42px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.task-list-container {
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-direction: column;
    padding: 42px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    .top-bar {
        position: sticky;
        top: 0px;
        margin-bottom: 10px;
        display: flex;
        z-index: 99;
        .title {
            flex-grow: 1;
        }
    }

}

.container-task {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
}

.list-menu {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    flex-grow: 1;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #main {
        transition: margin-left .5s;
      }

    .task-manager-container {
        display: block;
    }



    .sidebar {
       display: block;
       flex-direction: column;
       width:  100%;
       border-top-left-radius: 0px;
       border-bottom-left-radius: 0px;
       margin-bottom: 10px;
    }
    
    .task-list-container {
   
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      
    }
    
}
  
  

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}