<div class="centered-content">
    <div class="white-box">
        <h1 class="title has-text-primary">Daftar</h1>
        <div class="field">
          <select class="control has-icons-left has-icons-right dropdown" #jenisKlaimInput >
            <option value="" disabled selected>Pilih Jenis Klaim</option>
            <option value="Subsidi Pupuk">Subsidi Pupuk</option>
            <option value="Subsidi Hama">Subsidi Hama</option>
            <option value="Subsidi Gagal Panen">Subsidi Gagal Panen</option>
          </select>

      </div>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input #namaInput class="input has-background-light" type="text" placeholder="Nama Lengkap">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>

            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <textarea #alamatInput class="input has-background-light" type="text" placeholder="Alamat"></textarea> 
              <span class="icon is-small is-left">
                <i class="fas fa-location-arrow"></i>
              </span>

            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input #nikInput class="input has-background-light" type="number" placeholder="NIK">
              <span class="icon is-small is-left">
                <i class="fas fa-id-card"></i>
              </span>

            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input #noHpInput class="input has-background-light" type="tel" placeholder="No Hp">
              <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
              </span>

            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input #penghasilanInput class="input has-background-light" type="number" placeholder="Penghasilan">
              <span class="icon is-small is-left">
                <i class="fas fa-money-bill"></i>
              </span>

            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input #emailInput class="input has-background-light" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>

            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input #pwInput class="input has-background-light" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
            <p class="mt-1" style="color: red">{{errorMsg}}</p>
          </div>
          <div class="field" style="display: flex; justify-content: flex-end;">
            <p class="control">
              <button [disabled]="loadBtn === 0" class="button is-success has-text-white" (click)="onSignupButtonClicked(namaInput.value, alamatInput.value, jenisKlaimInput.value, nikInput.value, noHpInput.value, penghasilanInput.valueAsNumber, emailInput.value, pwInput.value)">
                <div *ngIf="loadBtn === 1">Daftar</div> 
                <i class="fa fa-spinner fa-spin" *ngIf="loadBtn === 0"></i>
              </button>
            </p>
          </div>
          <br>
      
          <p class="has-text-grey">Sudah punya akun? <a routerLink="/login">Login</a> disini!</p>
  
</div>